@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Playwrite+DE+Grund:wght@100..400&family=Oswald:wght@200..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Work Sans", sans-serif; */
  /* font-family: "Playwrite DE Grund", cursive; */
  /* font-family: "Poppins", sans-serif; */
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

i {
  font-size: 1.2rem;
  font-weight: 700;
}
.screen {
  width: 100dvw;
  height: 100dvh;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.play-ground {
  width: 500px;
  height: 100%;
  background: #020202;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-screen,
.end-screen {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, .7);
  backdrop-filter: blur(15px);
}

.start-screen h2,
.end-screen h2 {
  color: #ededed;
  text-align: center;
  font-weight: bolder;
  font-size: max(3.5rem,min(10vw, 7rem));
  margin-bottom: 50px;
}

.icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 30px 80px;
}

.end-screen pre {
  font-size: max(16px,min(3vw,2rem));
  color: #ededed;
  font-weight: 500;
}

.end-screen h2 {
  color: #BD2031;
}

.hide {
  display: none;
}

.play-btn,
.back-btn,
.opt-btn,
.quit-btn,
.reset-btn,
.retry-btn {
  border: none;
  outline: none;
  font-weight: 600;
  font-size: max(14px,min(1vw,24px));
  padding: 10px 30px 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.start-screen .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}



.end-screen .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: max(5px,min(2vw,20px));
  margin-top: 50px;
}

.character {
  background: royalblue /*#4169e3*/;
  position: absolute;
  bottom: 0;
}

.block {
  background: #4169e3;
  position: absolute;
  top: -150px;
}

.block, .character {
  width: 100px;
  height: 150px;
}

.right-btn,
.left-btn {
  width: 55px;
  height: 55px;
  background: #eeecff;
  border: none;
  outline: none;
  position: fixed;
  bottom: 20%;
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  border-radius: 10px;
  align-items: center;
  color: #0a0a0a;
  cursor: default;
}

.left-btn {
  left: 20px;
}

.right-btn {
  right: 20px;
}

.score {
  background: #4169e3;
  border-radius: 5px;
  font-weight: 600;
  font-size: 1.03rem;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20px;
  color: #eeecff;
  left: 20px;
  padding: 7px 20px;
  box-shadow:  0 0 10px rgba(0, 0, 0, .2);
}

button {
  transition: background 300ms, box-shadow 200ms, scale 300ms, color 100ms;
  background: #4169e3;
  color: #eeecff;
  cursor: pointer;
  border-radius: 10px;
  font-size: 1.2rem;
}

button:active {
  scale: 0.9;
}

.author-info {
  position: absolute;
  bottom: 10%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -10%);
  color: #eeecff;
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.author-info .author-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.author-info .author-links a {
  color: #888;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 300ms ease;

  &:hover {
    color: #eeecff;
  }
} 

.author-info p {
  font-size: 1rem;
}

.slider-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 10px;
}

.slider-name {
  font-size: 1rem;
  color: #eeecff;
  font-weight: 500;
}

.slider {
  -webkit-appearance: none;  
  appearance: none;
  width: 200px; 
  height: 15px; 
  background: #121212; 
  outline: none; 
  opacity: 0.7; 
  -webkit-transition: .2s; 
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1; 
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 25px; 
  height: 25px; 
  background: #4169e3; 
  cursor: pointer; 
}

.slider::-moz-range-thumb {
  width: 25px; 
  height: 25px; 
  background: #4169e3; 
  cursor: pointer; 
}

.game-setting {
  position: fixed;
  width: 100dvw;
  height: 100dvh;
  background: #00000098;
  backdrop-filter: blur(5px);
  z-index: 999999;
  display: none;
  justify-content: center;
  align-items: center;
}

.game-setting .main-box {
  position: relative;
  width: 250px;
  height: 300px;
  border-radius: 10px;
  background: #080808;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 20px 20px;
}

.game-setting .main-box .buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  position: absolute;
  bottom: 20px;
}

.game-setting i {
  font-size: 0.9rem;
}

.game-setting button {
  padding: 10px 25px 10px 20px;
  font-size: 0.7rem;
}

@media only screen and (min-width: 900px) {
  .score {
    top: 100px;
    left: 100px;
  }

  .right-btn,
  .left-btn {
    display: none;
  }
}

@media only screen and (max-width: 500px) {

  .play-ground {
    width: 100vw;
  }
  
  .character, .block {
    width: calc(100% / 5);
    height: calc(100vw / 4.5);
  }

}
