@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.screen {
  width: 100dvw;
  height: 100dvh;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.gameplay {
  width: 500px;
  height: 100%;
  background: #121212;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.stratScreen,
.endScreen {
  width: 300px;
  height: 300px;
  background: white;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  border-radius: 5px;
  padding: 20px;
}

.stratScreen h2,
.endScreen h2,
.endScreen p {
  width: 100%;
  height: 40px;
  color: #050a42;
  text-align: center;
  font-weight: bolder;
  font-size: 25px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 30px 80px;
  box-shadow: 0 0 2px 2px rgba(5, 10, 66, 0.2);
}

.endScreen p {
  margin: 30px 0;
  font-size: 20px;
}

.endScreen h2 {
  color: darkred;
}

.bg_cover {
  width: 100dvw;
  height: 100dvh;
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  z-index: 998;
}

.hide {
  display: none;
}

.play_btn,
.retry_btn,
.back_btn {
  width: 200px;
  height: 40px;
  background: lightgray;
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.2);
  border: none;
  outline: none;
  border-radius: 5px;
  font-weight: bolder;
  font-size: 20px;
}

.play_btn {
  margin: 10px 30px;
}

.retry_btn {
  margin: 10px 30px;
}

.back_btn {
  margin: 10px 30px;
}

.top_area,
.bottom_area {
  width: 100%;
  height: 50%;
}

.character {
  width: 100px;
  height: 150px;
  background: red;
  position: absolute;
  left: 200px;
  bottom: 0;
}

.block1,
.block2,
.block3 {
  width: 100px;
  height: 150px;
  background: cyan;
  position: absolute;
  top: -150px;
}

.block1 {
  left: 50px;
}

.block2 {
  left: 0;
  right: 0;
  margin-inline: auto;
}

.block3 {
  right: 50px;
}

.right_btn,
.left_btn {
  width: 50px;
  height: 50px;
  background: lightgray;
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.2);
  border: none;
  outline: none;
  border-radius: 5px;
  margin: 100px 30px;
  font-weight: bolder;
  font-size: 20px;
  position: fixed;
  bottom: 20px;
}

.left_btn {
  left: 20px;
}

.right_btn {
  right: 20px;
}

.score {
  width: 150px;
  height: 50px;
  background: #3399ff;
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.2);
  border: none;
  outline: none;
  border-radius: 5px;
  margin: 100px 30px;
  font-weight: bolder;
  font-size: 20px;
  transition: background 300ms;
  transition: box-shadow 200ms;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20px;
  box-shadow: 0 0 2px 2px rgba(51, 153, 255, 0.5);
  color: #fff;
  left: 20px;
}

@keyframes up_to_down {
  from {
    top: -150px;
  }
  to {
    top: 100%;
  }
}

button {
  transition: background 300ms,
    box-shadow 200ms,
    scale 300ms,
    color 300ms;
}

button:hover {
  background: #3399ff;
  color: #fff;
  box-shadow: 0 0 4px 5px rgba(51, 153, 255, 0.5);
}

button:active {
  scale: .9;
}

@media only screen and (max-width: 500px) {

  .block1 {
    left: 10px;
  }

  .block3 {
    right: 10px;
  }
}
